* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	background-color: #e2e7ec;
}
.container {
	margin-bottom: 200px;
}
.transform-3d {
	perspective: 500px;
	perspective-origin: 0% 0%;
}
[class^='block-'] {
	width: 150px;
	height: 150px;
	border: 5px solid #000;
	margin: 100px auto;
	background-color: red;
}
.block-1 {
	/*transform: translateZ(50px);*/
	/*transform: translate3d(0, 0, 50px);*/
	transform: rotateX(30deg);
}
.block-2 {
	background-color: springgreen;
	/*transform: rotateY(45deg) rotateZ(10deg);*/
	/*transform: rotateY(45deg) translateZ(100px);*/
	/*transform: scaleZ(1) translateZ(150px);*/
	transform: rotateY(45deg);
	transform-origin: center center 10px;
}
.block-3{
    background-color: violet;
    transform: translateX(45deg);
}