*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif, Arial;
    font-size: 16px;
    background-color: darkgrey;
}
.block{
    margin: 20px;
    column-count: 4;
    column-rule: 2px solid #000;
}
.block1{
    margin: 10px;
    column-gap: 40px;
    columns: 4 150px;
}