*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Roboto, sans-serif;
    background-color: darkgray;
    font-size: 16px;
}
.block{
    width: 200px;
    margin: 40px auto;
    border: 5px solid;
    padding: 20px;
    background-color: #fff;
}
.block--1{
    width: 200px;
    margin: 40px auto;
    border: 5px solid;
    padding: 20px;
    background-color: #fff;
}
.block:hover{
    background-color: red;
    transition: 0.5s;
}
.block--1:hover{
    background-color: #000;
    color: red;
}