*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: darkgray;
}
.block1, .block2, .block3, .block4{
    width: 250px;
    height: 150px;
    margin: 20px auto;
    cursor: pointer;
    border: 2px solid crimson;
}
.block1{
    background-color: #000;
    background-image: radial-gradient(white, red);
}
.block2{
    background-color: white;
    background-image: radial-gradient(red, black);
}
.block3{
    background-color: #fff;
    background-image: radial-gradient(white, blue);
}
.block4{
    background-color: red;
    background-image: radial-gradient(black 30%, blue);
}
h3{
    text-align: center;
    color: white;
    position: relative;
}